@use "../../styles/variables" as *;

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	&__link {
		text-decoration: none;
		color: $primary-color;
		font-weight: 600;
		padding: 0.5rem 1rem;
		border: 1px solid $primary-color;
		border-radius: $radius-sm;
		width: 6rem;
		text-align: center;

		&:hover,
		&:focus {
			background-color: lighten($primary-color, 40%);
		}

		&--disabled {
			color: #aaa;
			border-color: #ccc;
			cursor: not-allowed;
			pointer-events: none;
			background-color: #f9f9f9;
		}
	}

	&__page {
		font-weight: 500;
	}
}
